*, *:before, *:after {
    box-sizing: border-box;
}

canvas {
    display: block;
}

.canvas-holder {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.connection-ticker {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
}

.json-world-container {
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin: 0 auto;
}
.json-world-text {
    width: 100%;
    height: 85%;
    resize: none;
}
.json-world-controls {
    position: absolute;
    bottom: 0;
    height: calc(15% - 32px);
    padding: 5px 0;
}
.json-world-controls button {
    height: 100%;
}

.status-holder {
    height: 32px;
    padding-top: 3px;
}
.status-holder .status {
    height: 100%;
    padding: 3px;
}
.status-holder .error-status {
    color: #D8000C;
    background-color: #FFBABA;
}
.status-holder .success-status {
    color: #4F8A10;
    background-color: #DFF2BF;
}