*, *:before, *:after {
    box-sizing: border-box;
}

canvas {
    display: block;
}

.canvas-holder {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
.canvas-controls {
    padding: 5px 0;
}

.connection-ticker {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
}